body {
    font-family: 'Poppins',
        sans-serif;
    margin: 0%;


}




h1 {
    color: blue;
    font-size: 50px;
}

.Flexible-content {
    display: flex;
    margin-bottom: 100px;

}

.half-width {
    width: 50%;
    padding-left: 50px;
}

.half-width img {
    width: 70%;
}

.sp {
    color: black;
    background-color: aliceblue;
    padding: 10px 30px;
    border-radius: 10px;
}

.h31 {
    font-size: 30px;
    color: orange;
}

.pa {
    font-size: 18px;
    text-align: justify;
    color: white;

}

.link {
    text-decoration: none;
    background-image: linear-gradient(black, blue);
    padding: 10px 40px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 10px;
    color: white;
}

.display-flex {
    background-color: red;
}

.p2 {
    font-size: 18px;
    text-align: justify;
    color: black;
    padding-right: 80px;
}

#blackh1 {
    color: black;
}

.dream-big {
    background-image: url(/images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.experience-item {
    width: 40%;
    margin-left: 5%;
    margin-right: 5%px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10px;

    box-shadow: 10px 10px 20px grey;
}

.Flexible {
    display: flex;
}

.text-align {
    text-align: justify;
}

.experiene-area {
    margin-bottom: 100px;
    background-image: url(/images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.centers {
    text-align: center;
    font-size: 30px;
    color: blue;
}

.experience-item {

    border-left: 7px solid red;
}

#blue {
    border-left: 7px solid blue;
}

footer p {
    text-align: center;
}